* {
    width: 100%;
}

.first-row, .second-row {
    display: inline-block;
    margin: -4px;
}

.box {
    width: 9.6%;
    padding-bottom: 9.6%;
    display: inline-block;
    float: left;
}

.gray {
    background-color: gray;
    border-color: gray;   
}

.orange {
    background-color: orange;
    border-color: orange; 
    margin-right: 5px;
}

.black {
    background-color: black;
    border-color: black; 
}

.right {
    margin-right: 0.4%;
}

.blue {
    background-color: blue;
    border-color: blue; 
}

.pink {
    background-color: pink;
    border-color: pink; 
}

.purple {
    background-color: purple;
    border-color: purple; 
}

.yellow {
    background-color: yellow;
    border-color: yellow; 
}

.green {
    background-color: green;
    border-color: green; 
}
